* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


main {
    display: flex;
    flex-direction: row;


    width: 800px;
    height: 400px;

    padding: 40px;
    margin: 60px, 60px;

    background: white;
    border: 40px solid blue;
}

footer {
    display: flex;
    flex-direction: row;



    width: 800px;
    height: 400px;

    padding: 40px;
    margin: ;

    background: white;
    border: 40px solid blue;

}

section {
    display: flex;
    justify-content: center;

    width: 400px;

    border: 40px solid blue;
}

#leftside {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 50%;
    height: ;

    padding: ;
    margin: ;

    background: white;
}

#rightside {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 50%;
    height: ;

    padding: ;
    margin: ;


    background: white;
}

.leftgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: ;
    height: ;

    padding: ;
    margin: ;

    background: purple;
}

.rightgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: ;
    height: ;

    padding: ;
    margin: ;

    background: lightgreen;
}


.ingredients {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: ;
    height: ;

    padding: ;
    margin: ;

    background: white;
}


.smallfacts {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: ;
    height: ;

    padding: ;
    margin: ;

    background: white;
}

.howto {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: ;
    height: ;

    padding: ;
    margin: ;

    background: white;
}

label {
    font-size: 18;
    font-weight: 600;
    padding: 5px;
}

input {
    font-size: 18;
    font-weight: 600;
    padding: 5px;
}
