* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.uppersection {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    width: 800px;
    height: 400px;

    padding: 40px;

    background: white;
    border: 40px solid blue;
}

.lowersection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: 400px;
    padding: 40px;
    background: white;
    border: 40px solid blue;

}

#leftside {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    background: white;
}

#rightside {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    background: white;
}

.leftgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #a2acf8;
}

.rightgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #aff8a2;
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #a97df7;
}

.smallfacts {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: white;
}

.howto {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #e7b37d;
}

label {
    font-size: 18;
    font-weight: 600;
    padding: 5px;
}

input {
    font-size: 18;
    font-weight: 600;
    padding: 5px;
    
}

thqty {
    text-align: center;
}

thingredient {
    text-align: left;
}

#tempvalue {
    text-align: center;
    background: #c95f92;
    padding: 10px;
}

#submitter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #c95f92;
    width: 800px;
    height: auto;
    padding: 30px;
}