* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

main {
    padding: 50px;
}

.uppersection {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lowersection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    height: 400px;
}

.leftgroup {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    align-items: center;
}

.rightgroup {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    align-items: center;
}

.ingredients {
    display: flex;
    flex-direction: column;
}



.colqty {
    max-width: 60px;
    font-weight: 600;
    padding: 5px;
}

.colunit {
    max-width: 60px;
    font-weight: 600;
    padding: 5px;
}

.colingred {
    max-width: 160px;
    font-weight: 600;
    padding: 5px;
}

.picsubmit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: white;

}

.picload{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: white;
}

.submit{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    padding: 30px;
}

#howto {
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

#chosenpicture {
display: flex;
align-self: center;
width: 200px;
height: 200px;
}

label {
    font-weight: 600;
    padding: 5px;
}

input {
    padding: 5px;
}
