* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  padding: 50px;
}

#addrecipe-main-wrapper {
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.picContainer {
  display: flex;
  justify-content: center;
}

.picContainer img {
  width: 90%;
}

.uppersection {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 40px;
}

.middlesection {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.lowersection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 40px;
}

.leftgroup {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  align-items: center;
}

.rightgroup {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  align-items: center;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.colQty {
  max-width: 60px;
  font-weight: 600;
  padding: 5px;
}

.colUnit {
  max-width: 60px;
  font-weight: 600;
  padding: 5px;
}

.colIngred {
  max-width: 160px;
  font-weight: 600;
  padding: 5px;
}

.picsubmit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  padding: 25px;
}

.addrecbtn {
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align-last: auto;
}

.picsubmit {
  width: 250px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  align-content: center;
  text-align: center;
}

.picload {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: white;
}

.submit {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  padding: 20px;
}

#howto {
  display: flex;
  flex-flow: column;
  flex-direction: column;
}

#chosenpicture {
  display: flex;
  align-self: center;
  width: 300px;
  height: 300px;
}

label {
  font-weight: 600;
  padding: 5px;
}

input {
  padding: 5px;
}
