* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

header {
  background-image: linear-gradient(184deg, #22313f 70%, #ffffff calc(70% + 2px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40%;
  width: 100%;
  padding: 10px 20px;
  height: 40vh;
}

header input {
  height: 55px;
  width: 20%;
  border: 4px solid #fff;
  background-color: transparent;
  border-radius: 10px;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
}

nav ul a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s;
}

nav ul a:hover {
  color: rgba(255, 255, 255, 1);
}
