* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(182, 101, 101);
}

header {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
  height: 30vh;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}
