* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100vh;
    min-width: 100vh;
    width: 100vh;
    background-color: rgb(182, 101, 101);

    border: 10px solid green;
}


header {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100;
    height: 30vh;

    padding: 0px 10px;
    margin: 40px;

    background: white;
    border: 10px solid red;
}

body {

    border: 10px solid blue;
}

main {
    display: flex;
    flex-direction: column;

    height: 100vh;

    margin: 20px;
    padding: 50px;

    gap:30px;
    
    background-color: #1a2238;
}


section {
    display: flex;
    flex-direction: column;

    height: 45%;
    

    padding: 60px;

    background: white;
}


article {
    display: flex;
    flex-direction: row;

    height: 45%;
    gap: 30px;

    background-color: #1a2238;
}


ul {
    color: aqua;
    background: lightblue;
}



.titlecontainer {
    
}

.infocontainer {
    
}

.descriptioncontainer {
    
}

#imagecontainer {
    height: 100px;
    width: 100px;
    background-color: green;
}




.ingredientscontainer {
    display: flex;
    flex-direction: row;


    width: 40%;

    padding: 60px;

    background: yellow;
}



.howtocontainer {
    display: flex;

    width: 60%;

    padding: 60px;

    background: brown;

}
