* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* CSS för Förstasidan*/
.teaser-section {
  height: 60vh;
  background-color: lightyellow;
  display: flex;
  align-items: center;
}

.teaser-section div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teaser-text-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

/* CSS för formulär */
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(#3d4354, #1a2238);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 70%;
  width: 100%;
}

.inner-container h1 {
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.image-container img {
  border-radius: 10px;
  height: 100%;
}

#signup-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#signup-form input {
  width: 20%;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  height: 45px;
  padding: 10px 20px;
}

#signup-form input::placeholder {
  color: #fff;
}

#signup-form button {
  font-weight: bold;
  color: #1a2238;
  height: 50px;
  width: 5%;
  border-radius: 50px;
  border: none;
  background-color: #f4db7d;
}
