a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* CSS för Förstasidan*/
.teaser-section {
  height: 60vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.teaser-section-reversed {
  background-color: #1a2238;
  display: flex;
  height: 60vh;
}

.teaser-section-reversed div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teaser-section div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teaser-text-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

/* CSS för mapview */
.mapview-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mapview-container section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-list-section {
  width: 30%;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
  gap: 25px;
}

.recipe-card {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
  height: 150px;
  padding: 10px;
  background-color: #1a2238;
  color: #fff;
  border-radius: 10px;
}

.recipe-card p {
  text-overflow: ellipsis;
}

.map-section {
  width: 70%;
}

/* CSS för Recipe_Detail*/
.recipe-detail-main {
  background-color: #fff;
  width: 100%;
  min-height: 70vh;
  display: flex;
  gap: 25px;
  align-items: center;
  flex-direction: column;
}

.recipe-info-container {
  padding: 25px;
  width: 70%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  background-color: #1a2238;
}

.recipe-info-container h1 {
  margin-bottom: 10px;
  color: #fff;
}

.recipe-info-container p {
  color: #fff;
}

.recipe-info-text {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recipe-info-container .recipe-info-detailed {
  display: flex;
  gap: 10px;
  height: 50px;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #fff;
}

.recipe-info-detailed p {
  color: #000;
}

.howto-container {
  background-color: #1a2238;
  width: 70%;
  min-height: 50vh;
  display: flex;
  gap: 10%;
}

.howto-container h1 {
  color: #fff;
}

.recipe-ingredient-container {
  padding: 10px 15px;
  width: 30%;
}

.recipe-ingredient-container ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

.recipe-ingredient-container ul li {
  background-color: #fff;
  height: 40px;
  margin: 15px 0px;
}

.recipe-howto-container {
  width: 70%;
  padding: 10px 15px;
}

.recipe-howto-container ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

.recipe-howto-container ul li {
  background-color: #fff;
  height: 70px;
  margin: 15px 0px;
}

/* CSS för formulär */
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(#3d4354, #1a2238);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 70%;
  width: 100%;
}

.inner-container h1 {
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.image-container img {
  border-radius: 10px;
  height: 100%;
}

#signup-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#signup-form div {
  width: 30%;
  height: 50px;
  color: rgb(255, 238, 0);
  font-weight: 700;
}

#signup-form div input {
  width: 100%;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  height: 45px;
  padding: 10px 20px;
}

#signup-form input::placeholder {
  color: #fff;
}

#signup-form button {
  font-weight: bold;
  color: #1a2238;
  height: 50px;
  width: 5%;
  border-radius: 50px;
  border: none;
  background-color: #f4db7d;
}

/* Add recipe styling */
