a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* CSS för Förstasidan*/
.teaser-section {
  height: 60vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.teaser-section a {
  background-color: #1a2238;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.teaser-section a:hover {
  background-color: #fff;
  color: #1a2238;
}

.teaser-section-reversed {
  background-color: #1a2238;
  display: flex;
  align-items: center;
  height: 60vh;
  color: #fff;
}

.teaser-section-reversed a {
  background-color: #fff;
  color: #1a2238;
  text-decoration: none;
  transition: all 0.3s;
}

.teaser-section-reversed a:hover {
  background-color: #1a2238;
  color: #fff;
}

.teaser-section-reversed a,
.teaser-section a {
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.teaser-section-reversed div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teaser-section div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teaser-text-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.image-container {
  padding: 2rem;
}

/* CSS för mapview */
#map {
  width: 70%;
  height: 100%;
  background-color: transparent;
}

#recipe-search {
  height: 40px;
  width: 25%;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
}

.mapview-container {
  display: flex;
  width: 100%;
  min-height: 80vh;
}

.mapview-container section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-list-section {
  width: 30%;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-height: 70vh;
  overflow: auto;
  overflow-x: hidden;
  gap: 25px;
}

.recipe-card {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 80%;
  height: 150px;
  padding: 10px;
  background-color: #1a2238;
  color: #fff;
  border-radius: 10px;
}

.recipe-card p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recipe-card h2 {
  font-size: 1.5rem;
}

.map-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

/* CSS för Recipe_Detail*/

.recipe-detail-main {
  background-color: #fff;
  width: 100%;
  min-height: 70vh;
  display: flex;
  gap: 25px;
  align-items: center;
  flex-direction: column;
}

.recipe-info-container {
  padding: 25px;
  width: 70%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  background-color: #1a2238;
}

.recipe-info-container h1 {
  margin-bottom: 10px;
  color: #fff;
}

.recipe-info-container p {
  color: #fff;
}

.recipe-info-text {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recipe-info-detailed {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.recipe-info-detailed div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.recipe-info-detailed p {
  margin: 0;
  padding: 0;
  color: #000;
}

.detailed-category {
  font-weight: bold;
}

.recipe-info-container .image-container {
  height: 40vh;
  width: 100%;
}

.recipe-info-container .image-container img {
  /* width: 60%; */
  height: 100%;
}

.howto-container {
  background-color: #1a2238;
  width: 70%;
  min-height: 50vh;
  display: flex;
  gap: 10%;
}

.howto-container h1 {
  color: #fff;
}

.recipe-ingredient-container {
  padding: 10px 15px;
  width: 30%;
}

.recipe-ingredient-container ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

.recipe-ingredient-container ul li {
  background-color: #fff;
  height: 40px;
  margin: 15px 0px;
}

.recipe-howto-container {
  width: 70%;
  padding: 10px 15px;
}

.recipe-howto-container ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

.recipe-howto-container ul li {
  background-color: #fff;
  height: 70px;
  margin: 15px 0px;
}

/* CSS for signup */

.page-wrapper {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 20%;
}

.inner-container h1 {
  color: #1a2238;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.image-container img {
  border-radius: 10px;
  height: 100%;
}

#signup-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#signup-form div {
  width: 100%;
  height: 50px;
  color: rgb(255, 0, 0);
  font-weight: 700;
}

#signup-form div input {
  color: #1a2238;
  width: 100%;
  border: 3px solid #1a2238;
  background-color: transparent;
  border-radius: 10px;
  height: 45px;
  padding: 10px 10px;
  margin-bottom: 3px;
}

#signup-form input::placeholder {
  color: #1a2238;
}

#signup-form input[type='submit'] {
  background-color: #1a2238;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

/* Add recipe styling */

/* CSS for media queries */

@media only screen and (max-width: 769px) {
  .teaser-section {
    flex-direction: column-reverse;
  }

  .teaser-section-reversed {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .image-container img {
    margin-top: 25px;
    width: 100%;
    height: 100%;
  }

  #recipe-search {
    width: 60%;
  }

  .mapview-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .recipe-card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: safe center;
    min-width: 100vw;
    height: 100%;
    overflow: auto;
    gap: 10px;
  }

  .recipe-card {
    flex: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 230px;
    height: 300px;
    padding: 10px;
    gap: 10px;
    background-color: #1a2238;
    color: #fff;
    border-radius: 10px;
  }

  .recipe-card p {
    display: none;
  }

  .recipe-card .image-container {
    border-radius: 5px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
  }

  .inner-container {
    gap: 20px;
    width: 50%;
  }

  #signup-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
  }

  #signup-form div input {
    margin-bottom: 0px;
  }

  /*Recipe Detail styling*/
  .recipe-info-container {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
  }

  .recipe-info-container img {
    width: 70%;
  }

  .recipe-info-text {
    max-width: 100%;
    margin-top: 5rem;
  }

  .howto-container {
    width: 90%;
    justify-content: space-between;
  }
}
